<div class='col-md-3'>
<div class="thumbnail">
  <%= image_tag "Tracteur.jpg", class:"img-responsive" %>
</div>
<div class="caption">
<p><strong><%= link_to toy.name, toy_path(toy) %></strong></p>
<p><%= toy.price/100 %>€</p>

</div>
</div>